:root {
    /* Colors to be used across project */
    --green-lowlight: #0E6655;
    --green-highlight: #218838;
    --gray-lowlight: #85929E;
    --gray-highlight: #ABB2B9;
    --gray-shade: #B3B6B7;
}

* {
    font-family: Roboto,sans-serif;
}

body {
    background-color: var(--gray-lowlight);
}

/*
 this will be the same across all pages
 the header will include the project title, moto, and logo
 */
body > header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
}

body > header > img {
    width: 50px;
    height: 60px;
}

body > header > h1 {
    position: absolute;
    top: 0;
    left: 50px;
}

body > header > h4 {
    position: absolute;
    top: 30px;
    left: 52px;
    font-style: italic;
}

/*
 this will represent the main content outside of the header
 */
main {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 60px;
}

.button {
    border: none;
    border-radius: 4px;
    font-size: 1em;
    padding: 8px 16px;
    background-color: var(--green-lowlight);
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: var(--green-highlight);
}